# Leave entire .idea folder and project folder
*/.idea/*
*project
*/*.imli
*/.bsp/*
*/.bloop/*
*/.metals/*
*/.vscode/*
*.idea

# Leave others
**/META-INF
*.DS_Store

# Leave log files
*app-logs*
*derby.log

# Leave target directory
*/target/*
*/metastore_db*
*/spark-warehouse*
*/output*
*/out*
